@font-face {
  font-family: "vengadores";
  src: url(../public/font/fuenteAvengers.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "vengadores";
  background-image: url(../public/assets/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  color: #e2dcc8;
  font-size: 70px;
  text-decoration: underline;
  margin: 45px 5px;
  text-shadow: 5px 1px #100f0f, 2px 0 #0f3d3e;
}

.subtitulo {
  color: #e2dcc8;
  font-size: 50px;
  text-shadow: 5px 1px #100f0f, 2px 0 #0f3d3e;
}

.tarjetas,
.tarjetas-ataques {
  display: flex;
  gap: 10px;
  font-size: 25px;
  color: #fff;
}

.tarjeta {
  width: 280px;
  height: 300px;
  background: transparent;
  padding: 10px;
  margin-top: 80px;
  border: 1px solid #e2dcc8;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  cursor: pointer;
}

#btn-mascota {
  font-family: "vengadores";
  font-size: 25px;
  width: 280px;
  height: 40px;
  border-radius: 15px;
  background: #100f0f;
  border-color: transparent;
  color: #e2dcc8;
  margin-top: 30px;
  cursor: pointer;
  position: fixed;
  bottom: 280px;
}

.tarjeta img {
  width: 180px;
  height: 280px;
}

.nombre-mascota {
  font-size: 1.5rem;
  padding-right: 5px;
  color: #e2dcc8;
}

input {
  display: none;
}

input:checked + label {
  background: url(../public/assets/fondo-personaje.jpg);
}

#seleccionar-ataque {
  flex-direction: column;
  align-items: center;
}

.boton-de-ataque {
  background: #0f3d3e;
  font-family: "vengadores";
  font-size: 25px;
  color: #e2dcc8;
  width: 140px;
  height: 40px;
  border-radius: 15px;
  border-color: transparent;
  margin: 30px 10px;
  cursor: pointer;
  transition: 0.4s ease all;
}

.boton-de-ataque:hover {
  background-color: #100f0f;
  transition: 0.4s ease-in-out all;
}

#mensajes {
  width: 295px;
  background: #e2dcc8;
  padding: 20px;
  margin: 5px;
  border-radius: 15px;
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btn-reiniciar {
  border: transparent;
  border-radius: 5px;
  background: #0f3d3e;
  padding: 5px;
  color: #e2dcc8;
  font-family: "vengadores";
  font-size: 17px;
  cursor: pointer;
  margin-top: 10px;
}

.ataques {
  display: grid;
  grid-template-columns: 150px 150px;
  color: #000;
  text-align: center;
  margin: 10px;
  line-height: 25px;
  background: #e2dcc8;
  border-radius: 15px;
}

#vidas-jugador,
#vidas-enemigo {
  font-size: 35px;
  border-radius: 4px;
  margin: 5px;
  padding: 5px;
  color: #100f0f;
}

#mascota-jugador,
#mascota-enemigo {
  color: #7c0c0c;
  padding: 3px;
  font-size: 17px;
}

.ataques-jugador,
.ataques-enemigo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tituloFooter {
  width: 400px;
  height: 40px;
  border-radius: 15px;
  background: #100f0f;
  border-color: transparent;
  color: #e2dcc8;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.social-icons-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.social-icon {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  background-image: url(../public/assets/github.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0.5rem;
}

.social-icon:hover {
  background-color: #0f3d3e;
  filter: saturate(5);
}

.social-icon:nth-of-type(2) {
  background-image: url(../public/assets/email.png);
}

@media (max-width: 360px) {
  .tarjetas,
  .tarjetas-ataques {
    flex-direction: column;
  }

  .titulo,
  .subtitulo {
    font-size: 25px;
  }

  .tituloFooter {
    width: 250px;
    font-size: 1rem;
  }
}
