

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #5800FF;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#main {
    display: block;
    margin: 50px;
    padding: 40px;
}

